 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #191a1d;
  --blue5: #e6f0fc;
  --blue10: #cde5fe;
  --blue50: #096de7;
  --blue5010: #096de71a;
  --blue60: #0756b6;
  --gray100: #e6e4e7;
  --gray200: #d9d7da;
  --gray300: #cbc9cc;
  --gray400: #bbbabc;
  --gray500: #aaa8ab;
  --gray600: #969496;
  --gray700: #7d7c7e;
  --gray800: #333333;
  --gray900: #272429;
  --green400: #84e296;
  --violet100: #f0e5ff;
  --violet200: #e0c9ff;
  --violet300: #d0adff;
  --violet400: #c677ff;
  --violet500: #a94dff;
  --violet600: #8930e6;
  --violet700: #6b23b8;
  --violet800: #451f66;
  --violet900: #1c1824;
  --white: #ffffff;
  --codeFunction: #f96e46;
  --codeKeyword: #7fdeff;
  --codeNumber: #dabfff;
  --codePunctuation: #ffe3e3;
  --codeString: #8ddca4;
  --codeVariable: #f9c846;
}
