@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #191a1d;
  --blue5: #e6f0fc;
  --blue10: #cde5fe;
  --blue50: #096de7;
  --blue5010: #096de71a;
  --blue60: #0756b6;
  --gray5: #fcfcfc;
  --gray10: #f4f5f6;
  --gray20: #ebedef;
  --gray30: #d2d6da;
  --gray40: #b0b7bf;
  --gray50: #757f8a;
  --gray60: #656d76;
  --gray70: #525960;
  --gray90: #2a2e32;
  --indigo5: #e7e8fd;
  --indigo90: #1f2047;
  --white: #ffffff;
  --codeFunction: #f96e46;
  --codeKeyword: #7fdeff;
  --codeNumber: #dabfff;
  --codePunctuation: #ffe3e3;
  --codeString: #8ddca4;
  --codeVariable: #f9c846;
}
