html {
  background-color: var(--white);
  color: var(--gray90);
}

code {
  color: var(--indigo5);
}

p,
a {
  code {
    border-radius: 2px;
    color: var(--gray70);
    padding: 4px;
    background-color: var(--gray5);

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  font-size: 18px;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

hr {
  opacity: 0.25;
  border-radius: 9999px;
  border-top: 1px solid var(--black);
}
